<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" href="#">Tasks</a>
    <ul class="nav navbar-nav">
    </ul>
  </div>
</nav>

<main class="container">
  <div class="row">
    <div class="col-md-12">
      {{outlet}}
    </div>
  </div>
</main><!-- /.container -->
