<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <a class="navbar-brand" href="#">Tasks</a>
    <ul class="nav navbar-nav">
      <li class="nav-item">{{#link-to 'tasks' class='nav-link'}}Home{{/link-to}}</li>
      <li class="nav-item">{{#link-to 'tasks.new' class='nav-link'}}New Task{{/link-to}}</li>
    </ul>
  </div>
</nav>

<main class="container">
  <div class="row">
    <div class="col-md-12">
      {{outlet}}
    </div>
  </div>
</main><!-- /.container -->
