{{outlet}}
<h1>Tasks</h1>
{{#each model as |task|}}
  <div class="card card-block">
    <h4 class="card-title">{{task.title}}</h4>
    <small class="text-muted">Due: {{formatDate task.date}}</small>
    <p class="card-text">{{task.description}}</p>
  </div>
{{/each}}
